.fileForm-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 3px 3px 7px #bed3dd;
  cursor: pointer;
}

#fileForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#fileForm i {
    font-size: 3rem;
}
table{
  border-collapse: collapse;

}

td,th ,tr{
  border: 1px solid black;
}

th{
  background: rgba(114, 106, 106, 0.644);
}

.copyText{
  cursor: pointer;
}